{
    "presets": [
        [
            "@babel/preset-env",
            {
                // 按需加载
                "useBuiltIns": "usage"
            }
        ],
        [
            "@babel/preset-react"
        ]
    ]
}